[Unit]
Wants=multi-user.target
After=multi-user.target

[Service]
ExecStart=/centos-mounted-volume-plugin
StandardOutput=file:/proc/1/fd/1
StandardError=file:/proc/1/fd/2
